@import url(menu.css);
@import url(/css/pie\ de\ pagina.css);

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.principal{
    display: flex;
    flex-flow: column nowrap;
}

body{
overflow-x: hidden;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
}

footer{
    top: 20px;
}
