@import url(menu.css);
@import url(/css/pie\ de\ pagina.css);

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.principal{
    display: flex;
    flex-flow: column nowrap;
}

body{
    background-image: url(/img/Fondomodern-background-with-lines.jpg);
    /* background-color: rgb(102, 107, 113); */
    /* background-image: url(/img/Fondoconcrete-wall-textured-and-painted-backdrop.jpg); */
    /* background-image: url(/img/Fondocracked-black-wooden-textured-background.jpg); */
    /* background-image: url(/img/Fondoold-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg); */
    /* background-image: url(/img/Fondorough-black-lines-textured-background.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
overflow-x: hidden;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
}

footer{
    top: 20px;
}
