
#piedepagina{
    bottom: 0%;
    display: flex;
    position: relative;
    width: 100%;
    height: 130px;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
}

.logopie{
    display: flex;
}

.logopie img{
    border-radius: 20px;
    width: 40px;
    height: 40x;
}

.logopie h1{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 24px;
    padding: 2px;
    color: #ffffff;

}

.contactenos p{
    font-weight: normal;
    font-size: 15px;
    text-align: right;
    color: #ffffff; 
    letter-spacing: .5mm;

}

.social{
    position: relative;
}

.social a{
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
}