.bannerserv{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 3200px;
    gap: 5rem;
    width: 100%;
    overflow: hidden;
    padding-top: 2%;
    padding-bottom: 2%;
}

.imagen{
    overflow: hidden;
    display: flex;
    position: absolute;
    height: 500px;
    width: 70%;
}

img{
    width: 100%;
}

.contserv{
    position: relative;
    display: flex;
    height: 550px;
    width: 70%;
    align-items: center;
}

.contserv.left .textserv{
    right: -60px;
}

.contserv.right .imagen{
    right: -60px;
}

.textserv{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10% 0% 5% 5%;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.textserv h2{
    text-transform: uppercase;
    position: absolute;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}


.contserv.left .textserv h2{
    left: -40px;
}


.textserv p{
    width: 90%;
    height: 50%;
    margin-top: 30%;
    font-size: 1.2rem;
}


@media (max-width: 720px){
    .contenedor{
        top: 7.5vh;
    }

    img{
        height: 100%;
    };
    .contserv{
        height: 500px;
    }

    .imagen{
        height: 400px;
    }
    .bannerserv{
        height: 2700px;
        gap: 2rem;
    }
}