@import url(/css/estilos.css);

.contenedor{
    display: flex;
    flex-direction: column;
    top: 5vh;
    position: relative;
    margin-bottom: 5rem;
}

.contenido{
    display: flex;
    position: relative;
    align-items: center;
}

.serviciostexto{
    width: 40%;
    height: 700px;
}

.serviciosimagen {
    padding: .5% 0%;
    display: flex;
    align-items: center;
    width: 60%;
    height:600px;
    flex-wrap: nowrap;
}

.imagen{
    overflow: hidden;
    display: flex;
    position: relative;
    height: 400px;
    width: 100%;
    gap: 2rem;
}

img{
    border-radius: 30px;
    width: 300px;
}

@media (min-width: 720px){
    .contenedor{
        top: 7.5vh;
    }

    img{
        height: 100%;
    };
}