.servicios{
    height: 400px;
    width: 100%;
    align-items: center;
    text-align: center;
}
.contservices{
    display: flex;
    justify-content: space-around;
}

.servicios h2{
    color: whitesmoke;
    position: relative;
    top: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.services{
    position: relative;
    top: 60px;
    width: 250px;
    height: 250px;
}

.services img{
    width: 100%;
    height: 100%;
}

.descripcion:hover{
    background-color: rgba(255, 255, 255, .5);
}
.descripcion{
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .5s;
}

.descripcion a{
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    position: relative;
    width: 60%;
    height: 25%;
    top: 50%;
    padding: 0 5%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .9);
    text-decoration: none;
}