.servicios{
    background-color: #666B7180;
    height: 400px;
    width: 100%;
    align-items: center;
    text-align: center;
}
.contservices{
    display: flex;
    gap: 10%;
    justify-content: center;
}

.servicios h2{
    position: relative;
    top: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.services{
    position: relative;
    top: 80px;
    height: 200px;
}

.services img{
    width: 250px;
    height: 100%;
}

.descripcion:hover{
    background-color: rgba(255, 255, 255, .5);
}
.descripcion{
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .5s;
}

.descripcion h3{
    position: absolute;
    width: 150px;
    height: 50px;
    top: 50%;
    padding: 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .9);
}

.descripcion a{
    text-decoration: none;
}